body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #084C61;
}

section {
    background-color: #fff;
    margin: 15px auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}




.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section {
    min-width: 40%;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0;  
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}
