body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #084C61;
}

.container {
    width: 90%; 
    max-width: 60%; 
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 15px;
}

.scrollable-container {
    max-height: 500px;  
    overflow-y: auto;
    padding-right: 20px; 

h2 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
}
