*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    overflow: hidden;
  }

.collabmatch {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    justify-content: flex-end;
}
  
  .loaded.collabmatch {
    opacity: 1;
  }
  
  .collabmatch--status {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    z-index: 2;
    width: 100%;
    text-align: center;
    pointer-events: none;
  }
  
  .collabmatch--status i {
    font-size: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
  }
  
  .collabmatch_love .fa-heart {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .collabmatch_nope .fa-remove {
    opacity: 0.7;
    transform: scale(1);
  }
  
  .collabmatch--cards {
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
  }
  
  .collabmatch--card {
    display: flex;
    flex-direction:column;
    width: 90vw;
    max-width: 400px;
    background: #FFFFFF;
    padding-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    height: 60vh;
  }
  
  .moving.collabmatch--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
  
  .collabmatch--card img {
    max-width: 100%;
    flex-shrink:1;
    pointer-events: none;
  }
  
  .collabmatch--card h3 {
    margin-top: 32px;
    font-size: 32px;
    padding: 0 16px;
    pointer-events: none;
    color: black;
  }

  .collabmatch--card div {
    flex-grow:1;
  }
  
  .collabmatch--buttons {
    flex: 0 0 100px;
    text-align: center;
    padding-top: 20px;
     position: relative;  
     z-index: 3; 
  }

  .collabmatch--buttons button {
    border-radius: 50%;
    line-height: 60px;
    width: 60px;
    border: 0;
    background: #FFFFFF;
    display: inline-block;
    margin: 0 8px;
    padding: 0;
  }
  
  .collabmatch--buttons button:focus {
    outline: 0;
  }
  
  .collabmatch--buttons i {
    font-size: 32px;
    vertical-align: middle;
  }

  .description {
    color: black;
  }

    .fa-heart {
        color: #d41c4a;
    }
  
  .fa-remove {
    color: #222;
  }

#matches {
    width: fit-content;
    border-radius: 8px;
    color: black;
    padding: 0.1em 1em;
}


.project-image {
    width: 150px;
    height: auto;
}

  .scrollable-content {
    max-height: 150px;  
    overflow-y: auto; 
    padding-right: 5px; 
    background-color: aliceblue;
}


@media (orientation: portrait) {
    .collabmatch--buttons {
        margin-bottom:1em;
    }

    .collabmatch--card img {
        display: block;
        max-height: 15vh;
        width: auto;
        height: auto;
        object-fit: contain;
    }
}

.hidden {
    display: none;
}